/* form.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4fd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.form-container h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a040;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #4caf50;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.btn-voltar:hover {
  color: #45a040;
}

.btn-voltar::before {
  content: "←";
  margin-right: 5px;
  font-size: 20px;
}
